<%- include('partials/_header.ejs') -%>

<body>

  <!-- Navigation -->
  <%- include('partials/_navigation.ejs') -%>

  <!-- Page Header -->
  <header class="masthead mt-5" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="pt-3 bg-secondary d-flex justify-content-center">
          <a class="btn btn-primary" href="/posts/update/<%= post._id %>">Update</a>
          <a class="btn btn-danger" href="/posts/<%= post._id %>?_method=DELETE" onclick="confirm('Yes or No')">Delete</a>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading mt-4">
            <h1><%= post.title %></h1>
            <span class="meta">Posted by
              <a href="#">orhanurullah</a>
              <%= post.dateCreated %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><%= post.detail %></p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <%- include('partials/_footer.ejs') -%>

</body>

</html>
